.idea/
my.log
dist/
PaperCrawlerUtil.egg-info/
setup.py
__pycache__/
build/
15.py
*.log
test.py
delete.bat
crawler_util.log
*.db
src/crawler_generate/build
src/crawler_generate/node_modules
src/crawler_generate/test